/* Custom CSS */

body {
    background-image: url('../images/blue-10.svg');
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center left; */
    font-family: 'Poppins', sans-serif;
    background-color:  #E0E9F7;
}

.error-message {
    color: red;
}

.navbar {
    font-size: 20px;
    background-color: #fff;
}
.section {
    padding: 100px 100px;
}
.section-heading {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}
.feature-icon {
    font-size: 52px;
    color:  #1c0f8a;
    margin-bottom: 10px;
}
.feature-heading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.feature-description {
    font-size: 16px;
    color: #034d92;
}
.cta-btn {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 40px;
}
.testimonials .testimonials-item img {
    max-width: 12rem;
    box-shadow: 0 5px 5px #adb5bd;
}
.footer {
    background-color: #000000;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}